{{ define "main" }}
<section class="container is-fluid">
  <article>
    <h1>{{ .Title }}</h1>
    <div class="columns is-8 is-multiline">
        {{ range .Pages }}
        <div class="column
        is-one-half-mobile
        is-one-third-tablet
        is-one-quarter-desktop
        is-one-fifth-widescreen
        is-one-sixth-fullhd">
          <div class="card">
            <a href="{{ .Permalink }}">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img
                    src="{{ .Site.Params.cloudflare_images }}{{ .Params.featured_img }}/height=380,fit=cover,quality=60" alt=""
                  />
                </figure>
              </div>
              <div class="card-header">
                <div class="card-header-title">
                  <p class="subtitle">{{ .Title }}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        {{ end }}
    </div>
  </article>
</section>
{{ end }}
