{{ define "main" }}
<section>
  <div class="columns is-multiline is-centered">
    <div class="column is-6-tablet">
      <article>
        <div class="column mb-4">
          <div class="box has-background-light">
            <p class="has-text-grey mb-5"><q>Jarrosson est un jeune peintre. Riopelle un géant de la peinture dont on célèbre le centenaire cette année. Jusqu'ici, leur seul point commun est de servir avec brio - et quelques décennies d'écart - la cause de l'abstraction lyrique. Un autre va suivre cet été : ils vont occuper le même mur dans les foyers de réception du septième étage à l'Opéra Bastille.</q></p>
            <h4 class="mb-2 is-size-6 has-text-weight-bold"><a href="https://assets.silverejarrosson.com/documents/newspaper-articles/le-figaro-june-2023.pdf">Le Figaro</a></h4>
            <p class="has-text-grey quote-source">Ariane Bavelier, juin 2023</p>
          </div>
        </div>
      </article>
      <article>
        <div class="column mb-4">
          <div class="box has-background-light">
            <p class="has-text-grey mb-5"><q>Peindre m’amène de la musique en tête, comme si le tableau était une composition</q></p>
            <h4 class="mb-2 is-size-6 has-text-weight-bold"><a href="https://www.radiofrance.fr/francemusique/podcasts/la-quatre-saisons-n-est-pas-qu-une-pizza/silvere-jarrosson-peintre-9540445">France Musique</a></h4>
            <p class="has-text-grey quote-source">Saskia de Ville, mars 2023</p>
          </div>
        </div>
      </article>
      <article>
        <div class="column mb-4">
          <div class="box has-background-light">
            <p class="has-text-grey mb-5"><q>Le musée Unterlinden de Colmar, connu pour abriter le fameux retable d’Issenheim, frappe encore très fort. (...) Durant le mois de mars, le vaste espace de la <em>Piscine</em> du musée alsacien se fait le théâtre d’une installation en effet mouvante : une réunion de paysages, abstraits, lointains, monumentaux, dans lesquels le visiteur est amené à déambuler. (...) Intitulé <em>L’Œuvre qui va suivre</em>, ce projet original est né dans l’imagination agitée de Silvère Jarrosson, &laquo;&nbsp;peintre du mouvement&nbsp;&raquo;.</q></p>
            <h4 class="mb-2 is-size-6 has-text-weight-bold"><a href="https://www.beauxarts.com/expos/silvere-jarrosson-fait-litteralement-danser-la-peinture-au-musee-unterlinden/">Beaux-arts Magazine</a></h4>
            <p class="has-text-grey quote-source">Malika Bauwens, mars 2023</p>
          </div>
        </div>
      </article>
      <article>
        <div class="column mb-4">
          <div class="box has-background-light">
            <p class="has-text-grey mb-5"><q>Kunst, die interagiert, ist im Museum Unterlinden zu sehen. Ausgangspunkt ist eine Installation von Silvère Jarrosson.</q></p>
            <h4 class="mb-2 is-size-6 has-text-weight-bold"><a href="https://www.badische-zeitung.de/malerei-lebendig-machen--247372166.html">Badische Zeitung</a></h4>
            <p class="has-text-grey quote-source">Bärbel Nückles, mars 2023</p>
          </div>
        </div>
      </article>
      <article>
        <div class="column mb-4">
          <div class="box has-background-light">
            <p class="has-text-grey mb-5"><q><q>Ma peinture raconte l’émergence d’un monde</q>&nbsp;: la nouvelle installation immersive de l’artiste Silvère Jarrosson fait danser la peinture au musée Unterlinden</q></p>
            <h4 class="mb-2 is-size-6 has-text-weight-bold"><a href="https://www.connaissancedesarts.com/arts-expositions/art-contemporain/ma-peinture-raconte-lemergence-dun-monde-la-nouvelle-installation-immersive-de-lartiste-silvere-jarrosson-fait-danser-la-peinture-au-musee-unterlinde-11180634/">Connaissance des arts</a></h4>
            <p class="has-text-grey quote-source">Guy Boyer, mars 2023</p>
          </div>
        </div>
      </article>
      <article>
        <div class="column mb-4">
          <div class="box has-background-light">
            <p class="has-text-grey mb-5"><q>Silvère Jarrosson&nbsp;: <q>Ma peinture est à la fois vivante et inerte</q></q></p>
            <h4 class="mb-2 is-size-6 has-text-weight-bold"><a href="https://www.radiofrance.fr/franceculture/podcasts/l-invite-e-des-matins-du-samedi/silvere-jarosson-peintre-7612078">France culture</a></h4>
            <p class="has-text-grey quote-source">Caroline Broué, octobre 2021</p>
          </div>
        </div>
      </article>
      <article>
        <div class="column mb-4">
          <div class="box has-background-light">
            <p class="has-text-grey mb-5"><q>En ponçant les stries, les nervures, les gouttes qui maculent la toile, Silvère Jarrosson fait surgir glacier, vapeurs, sables, roches. Tout ce ruban de matière tourne et vole à la Salpêtrière. Les passants, des soignants s'y arrêtent. Des malades aussi. Immobiles dans la chapelle, ils cherchent à se donner des ailes en regardant la peinture s'élancer.</q></p>
            <h4 class="mb-2 is-size-6 has-text-weight-bold"><a href="https://www.lefigaro.fr/culture/silvere-jarrosson-pas-de-deux-avec-la-peinture-20211007">Le Figaro</a></h4>
            <p class="has-text-grey quote-source">Ariane Bavelier, octobre 2021</p>
          </div>
        </div>
      </article>
    </div>
    <div class="column is-6-tablet">
      <article>
        <div class="column mb-4">
          <div class="box has-background-light">
            <p class="has-text-grey mb-5"><q>Silvère Jarrosson déploie ses paysages intérieurs, inspirés des éléments (terre, roche et eau).</q></p>
            <h4 class="mb-2 is-size-6 has-text-weight-bold"><a href="https://assets.silverejarrosson.com/documents/debre-jarrosson-abstraction-lyrique-hier-et-aujourd-hui.pdf">Télérama</a></h4>
            <p class="has-text-grey quote-source">Bénédicte Philippe, juillet 2021</p>
          </div>
        </div>
      </article>
      <article>
        <div class="column mb-4">
          <div class="box has-background-light">
            <p class="has-text-grey mb-5"><q>Sa technique se rapproche de l’action painting, ou expressionnisme abstrait, consistant à déposer sur une toile posée à l’horizontale de la peinture acrylique de façon spontanée et non figurative. Mais rien n’est laissé au hasard dans la façon dont il s’empare de la peinture, dont il la laisse se déplacer sur la toile.</q></p>
            <h4 class="mb-2 is-size-6 has-text-weight-bold"><a href="https://www.lavie.fr/ma-vie/culture/silvere-jarrosson-la-resilience-du-peintre-danseur-1647.php">La Vie</a></h4>
            <p class="has-text-grey quote-source">Claudine Colozzi, juillet 2020</p>
          </div>
        </div>
      </article>
      <article>
        <div class="column mb-4">
          <div class="box has-background-light">
            <p class="has-text-grey mb-5"><q>Après un Hommage à Antonin Artaud composé de trois vidéos projetées en juin 2019 à la Villa Médicis à l’invitation de son directeur artistique Cristiano Leone, et une résidence à Giverny en 2018 dans les pas de Claude Monet, Silvère Jarrosson présente sa nouvelle série, <em>Impressions</em>, un titre évidemment évocateur pour cet explorateur des territoires abstraits et qui invite à poser la question du fonctionnement et de la qualification d’une peinture en équilibre.</q></p>
            <h4 class="mb-2 is-size-6 has-text-weight-bold"><a href="http://pointcontemporain.com/silvere-jarrosson-portrait/">Point contemporain</a></h4>
            <p class="has-text-grey quote-source">Xavier Bourgine, juin 2019</p>
          </div>
        </div>
      </article>
      <article>
        <div class="column mb-4">
          <div class="box has-background-light">
            <p class="has-text-grey mb-5"><q>Les couleurs, mues par quelque tropisme, se tordent et s’affrontent, se séparent ou s’emmêlent, l’une glissant sur l’autre avant de céder à la couche inférieure qui poind lentement sous la déliquescence. Alors, sur la toile reposée à plat, quelque chose sourd, une forme vibre imperceptiblement, vacille et apparaît, incertaine au milieu du chaos, tremblante d’abord, avant de s’apaiser telle une respiration.</q></p>
            <h4 class="mb-2 is-size-6 has-text-weight-bold"><a href="https://assets.silverejarrosson.com/documents/silvere-jarrosson-choregraphie-du-hasard.pdf">Le Monde des religions</a></h4>
            <p class="has-text-grey quote-source">Laurent Menu, mai 2019</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
{{ end}}
