html,
body {
  height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;
}

.icon,
.small-icon {
  vertical-align: -0.125em;
}

.icon {
  width: 1.5em;
  height: 1.5em;
}

.small-icon {
  width: 1em;
  height: 1em;
}

footer,
p,
figure,
blockquote,
source,
table,
.footnotes,
.alert,
.cards,
.photos,
.tags,
ul {
  margin: $padding 0 0;
}

body,
.content {
  font-family: $family-primary;
  font-stretch: 72%;
}

.post {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  // Sets container width to 70 characters | Source: https://moderncss.dev/practical-uses-of-css-math-functions-calc-clamp-min-max/
}

.archive {
  width: 98%;
  margin-right: auto;
  margin-left: auto;
}

.navbar,
body {
  background-color: $white;
}

.navbar-item {
  font-weight: bold;
}

footer {
  padding: $padding;
}

.footer-logo img {
  padding: $padding;
}

/* Lists
--------------------------------------------------------------------------------------------- */

.bullet ul,
.bullet li,
.bullet ol {
  margin-left: 3vw;
}

ul {
  list-style: none;
}

.bullet li,
.bullet-list ol {
  margin-bottom: 1rem;
  line-height: 50%;
}

.bullet li::marker {
  color: #437daa;
}

.bullet li::before {
  content: "\25AA";
  color: #437daa;
  font-weight: bold;
  display: inline-block;
  width: 0.75em;
  margin-left: -1em;
}

ul.svg-list {
  list-style: none;
  padding-left: 0;
}

ul.svg-list li {
  margin-bottom: 0.5em;
}

.svg-list li::before {
  padding-inline: 1ch 1ch 0.5 bch 0;
  margin-inline-end: 1ch;
}

.svg-list li.location::before {
  content: url("data:image/svg+xml,%3Csvg class='small-icon filter-white' xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 384 512'%0A%3E%3Cpath fill='%234a79ae' d='M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z' /%3E%3C/svg%3E");
}

.svg-list li.instagram::before {
  content: url("data:image/svg+xml,%3Csvg class='small-icon' xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 440 512'%3E%3Cpath fill='%234a79ae' d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z'/%3E%3C/svg%3E");
}

.svg-list li.facebook::before {
  content: url("data:image/svg+xml,%3Csvg class='small-icon' xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 320 512'%0A%3E%3C!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath fill='%234a79ae' d='M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z' /%3E%3C/svg%3E");
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: $white-ter;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
  font-size: 1.2em;
  color: $primary;
}
blockquote:before {
  content: "\201C";
  position: absolute;
  top: -0.089em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $white;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em "Quicksand", sans-serif;
  color: $primary;
  text-align: center;
}
blockquote:after {
  content: "\2013 \2003"attr(cite);
  display: block;
  text-align: right;
  color: $primary;
}

/* Lists
--------------------------------------------------------------------------------------------- */

/* Source: https://github.com/bluefantail/bulma-list/blob/main/css/bulma-list.css */
.list {
  color: $primary;
  flex-direction: column;
  display: flex;
}

.list-item-content {
  min-width: 0;
  max-width: calc(var(--length) * 1ch);
  font-size: 0.875rem;
}

.list-item-content > * {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list-item:not(.box) {
  padding: 0.75em;
}
.list-item:not(:last-child):not(.box) {
  border-bottom: 1px solid $grey-lighter;
}

@media screen and (max-width: 768px) {
  .list-item-image {
    padding: 0.5rem 0;
  }
}
.list-item-content {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
}

@media screen and (max-width: 768px) {
  .list-item-content {
    padding: 0.5rem 0;
  }
}
.list-item-title {
  color: $primary;
  font-weight: 600;
}

.list-item-description {
  color: $grey-dark;
}

article.post figure img.title {
  margin-bottom: 1rem;
}

.content figure figcaption {
  font-style: unset;
}

#logo {
  text-align: left;
}

.has-bg-img {
  background: url("https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/09e021e7-09a7-4ab2-34f0-7cbfbafd3e00/fit=contain,gamma=0.55,quality=45")
    center center;
  background-size: cover;
}

.hero a {
  color: $white;
  text-decoration: underline;
}

.image.is-4by3 {
  margin-left: 0;
  margin-right: 0;
}
