@use "theme" as t;

body {
  background-color: t.$white;
  height: 100vh;
  transition: all 0.4s ease;
}

// Some styling

body .subtitle,
body .title {
  color: t.$dark;
}

body.dark {
  background-color: t.$dark;
  color: t.$light;
}

.has-background-dark a {
  color: t.$lemon-chiffon;
}

body.dark .subtitle,
body.dark .title {
  color: t.$light;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
  color: t.$light;
  padding: 0.8rem;
  background: t.$dark;
  border-radius: 6px;
}

body.dark button {
  background: t.$light;
  color: t.$dark;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(307deg)
    brightness(101%) contrast(103%);
}

.filter-white:hover {
  filter: invert(73%) sepia(10%) saturate(616%) hue-rotate(314deg)
    brightness(107%) contrast(96%); // target color: EABEBE $link-hover-on-dark
}
