<!DOCTYPE html>
<html lang="en">
    <head
      prefix="og: https://ogp.me/ns# article: https://ogp.me/ns/article# website: https://ogp.me/ns/website#"
    >
      {{ block "head" . }} {{ partial "head/first-loaded.html" . }} {{ partial
      "head/title.html" . }} {{ partial "head/styles.html" . }} {{ partial
      "head/favicons.html" . }} {{ partial "head/csp.html" . }} {{ partial
      "head/seo.html" . }} {{ partial "head/header-scripts.html" . }} {{ end }}
    </head>
    <body>
      <header id="navbar">
        {{ block "header" . }} {{ partial "header/header.html" . }} {{ end }}
      </header>
      <main class="content">{{ block "main" . }} {{ .Content }} {{ end }}</main>
      <footer id="footer" class="has-background-light">
        {{ block "footer" . }} {{ partial "footer/fat-footer.html" . }}  {{ partial "footer/legal-info.html" . }} {{ partial "footer/sponsors.html" . }}{{ end
        }}
      </footer>
      {{ partial "footer/footer-scripts.html" . }}
    </body>
  </html>
</html>
