<div>
  <div class="columns">
    <div id="footer-logo" class="column is-5">
      <img src="/images/system/logo-colour.svg" />
    </div>
    <div class="column is-size-6">
      <aside class="contact" id="contact">
        <div id="thanks" class="modalDialog">
          <div>
            <a href="#close" title="Close" class="close">X</a>

            <h3 class="title">Thank you</h3>
            <p class="subtitle">
              Your message was successfully sent. We'll try to get back to you as soon as
              possible.
            </p>
          </div>
        </div>
        <form method="POST" action="https://gallery-site-form.policymakr.workers.dev" class="box p-5">
          <label class="is-block mb-4">
            <span class="is-block mb-2">Your name</span>
            <input name="Full name" type="text" class="input" placeholder="Joe Bloggs" />
          </label>

          <label class="is-block mb-4">
            <span class="is-block mb-2">Email address</span>
            <input required name="Email" type="email" class="input" placeholder="joe.bloggs@example.com" />
          </label>

          <label class="is-block mb-4">
            <span class="is-block mb-2">Message</span>
            <textarea name="Message" class="textarea" rows="3"
              placeholder="Tell us what you're thinking about..."></textarea>
          </label>

          <label class="is-block mb-4">
            <span class="is-block mb-2">5 + 8 = ?</span>
            <input required name="Captcha" type="text" class="input" placeholder="Enter calculated value" />
          </label>

          <div class="mb-4">
            <button type="submit" class="button is-link px-4">Contact Us</button>
          </div>
          <input type="hidden" name="Redirect URL" value="{{ .Permalink }}#thanks">
          <input type="hidden" name="Failed redirect URL" value="{{ .Permalink }}#failed">
          <input type="hidden" name="Captcha question" value="5 + 8">
        </form>
      </aside>
      <ul class="is-size-5 svg-list">
        <li class="location">{{ site.Params.street_address | markdownify }}</li>
        <li class="instagram"><a href="https://instagram.com/wilhelminas_art_gallery/"
            title="WAG's Instagram account">Instagram</a></li>
        <li class="facebook"><a href="https://www.facebook.com/profile.php?id=100092925767688"
            title="Donald's Facebook account">Facebook</a></li>
      </ul>
    </div>
  </div>
</div>