<div class="container">
    <div class="content has-text-centered">
        <p>
            <a href="https://www.wilhelmina.gallery">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/816e7acf-1525-4db9-e2f4-aba5c035dd00/icon" width="32" height="32" alt="Mandraki" title="Mandraki">
            </a>
            <a href="https://www.wilhelmina.gallery">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/6672397e-ec56-435a-1b67-3ad8405e8c00/icon" width="32" height="32" alt="Instanbul 74" title="Instanbul 74">
            </a>
            <a href="https://www.wilhelmina.gallery">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/8514294e-0f81-4331-3767-8e090740cd00/icon" width="32" height="32" alt="Maruccia" title="Maruccia">
            </a>
            <a href="https://www.wilhelmina.gallery">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/dd502320-5dec-4be7-76c0-628d0b5cae00/icon" width="32" height="32" alt="Hard Clo" title="Hard Clo">
            </a>
            <a href="https://www.wilhelmina.gallery">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/d5c2d217-1b83-4cfc-7d7c-4cef0e1f0400/icon" width="32" height="32" alt="Kasia Kay" title="Kasia Kay">
            </a>
            <a href="https://www.wilhelmina.gallery">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/f1125f30-73c3-4777-51e4-8edbf80e5500/icon" width="32" height="32" alt="Semeli Estate" title="Semeli Estate">
            </a>
        </p>
    </div>
</div>
