{{ define "main" }}
  <section class="hero is-large has-bg-img">
    <div class="hero-body">
      <p class="title has-text-white">
        {{ .Params.hero_title | markdownify }}<br>
        {{ .Params.hero_subtitle | markdownify }}<br>
        <span class="is-size-4">{{ .Params.exhibition_date | markdownify }}</span>
      </p>
      <p class="subtitle has-text-white has-text-weight-bold">
        {{ .Params.description | markdownify }}
      </p>
    </div>
  </section>
  <section class="container is-fluid">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/6566e75b-34f2-4014-1b2a-1803624bd400/fit=contain" alt="Barthélémy Toguo, Runaway, encre sur toile, 100 x 100 cm, 2021">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ .Params.forthcoming_event_1 | markdownify }}</p>
              <p class="subtitle is-6">{{ .Params.forthcoming_event_date_1 | markdownify }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/3fb9fb90-20f9-44a9-75e3-9c6a77aaba00/fit=contain" alt="Romain Cadilhon, Lady Lindon">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ .Params.forthcoming_event_2 | markdownify }}</p>
              <p class="subtitle is-6">{{ .Params.forthcoming_event_date_2 | markdownify }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
{{ end }}
