<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img
        id="logo"
        class="has-text-left"
        src="/images/system/small-logo.svg"
        width="220"
        height="55"
      />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item"> Home </a>

      <a href="/about" class="navbar-item"> About </a>

      <a href="/exhibitions" class="navbar-item"> Exhibitions </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Artists </a>

        <div class="navbar-dropdown">
          <a href="/artists/robert-bodem" class="navbar-item"> Robert Bodem </a>
          <a href="/artists/bea-bonafini" class="navbar-item"> Bea Bonafini </a>
          <a href="/artists/romain-cadilhon" class="navbar-item"> Romain Cadilhon </a>
          <a href="/artists/damien-deroubaix" class="navbar-item"> Damien Deroubaix </a>
          <a href="/artists/barthelemy-toguo" class="navbar-item"> Barthélémy Toguo </a>
          <a href="/artists/manuel-ocampo" class="navbar-item"> Manuel Ocampo </a>
          <hr class="navbar-divider" />
          <a href="/portrait-artists" class="navbar-item"> Portrait Artists </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/#contact" class="button is-primary">
            <strong>Contact</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
