<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img
        id="logo"
        class="has-text-left"
        src="/images/system/small-logo.svg"
        width="220"
        height="55"
      />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item"> Home </a>

      <a href="/about" class="navbar-item"> About </a>

      <a href="/exhibitions" class="navbar-item"> Exhibitions </a>

      <a href="/artists"  class="navbar-item"> Artists </a>

      <a href="/courses" class="navbar-item"> Courses </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/#contact" class="button is-primary">
            <strong>Contact</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
