{{ $id := .Get "id" }}
{{ $alt := .Get "alt" }}
{{ $title := .Get "title" }}
{{ $size := .Get "size" }}
{{ $medium := .Get "medium" }}
{{ $date := .Get "date" }}
{{ $image_url := printf "%s%s" site.Params.cloudflare_images $id }}

<figure>
  <picture>
    <source srcset="{{ .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=960
    1x, {{ .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=1920 2x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=2880 3x"
    media="(min-width: 960px)"> <source srcset="{{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=860 1x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=1720 2x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=2580 3x"
    media="(min-width: 860px)"> <source srcset="{{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=780 1x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=1560 2x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=2340 3x"
    media="(min-width: 780px)"> <source srcset="{{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=720 1x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=1440 2x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=2160 3x"
    media="(min-width: 720px)"> <source srcset="{{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=640 1x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=1240 2x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=1920 3x"
    media="(min-width: 640px)"> <source srcset="{{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=600 1x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=1200 2x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=1800 3x"
    media="(min-width: 600px)"> <source srcset="{{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=540 1x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=1080 2x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=1620 3x"
    media="(min-width: 540px)"> <source srcset="{{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=480 1x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=960 2x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=1440 3x"
    media="(min-width: 480px)"> <source srcset="{{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=420 1x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=840 2x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=1260 3x"
    media="(min-width: 420px)"> <source srcset="{{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=380 1x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=760 2x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=1140 3x"
    media="(min-width: 380px)"> <source srcset="{{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=320 1x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=640 2x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=960 3x"
    media="(min-width: 320px)"> <source srcset="{{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=225 1x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=450 2x, {{
    .Site.Params.cloudflare_images }}{{ .Get "id" }}/w=675 3x"
    media="(min-width: 225px)"> <img src="{{ .Site.Params.cloudflare_images }}{{
    .Get "id" }}/w=1920" max-width: 100% height: auto aspect-ratio: attr(width)
    / attr(height) alt="{{ if .Get "title"}}{{ $title | truncate 42
    }}{{ end }}"/>
  </picture>
  <figcaption class="subtitle has-text-centered is-size-7-mobile is-size-6-tablet">
    <em>{{ $title }}</em>, {{ $size }}, {{ $medium }}, {{ $date }}
  </figcaption>
</figure>



