{{ define "main" }}
<section class="container is-fluid">
  <div class="tabs">
    <ul>
      <li><a>Current</a></li>
      <li><a href="/forthcoming">Forthcoming</a></li>
      <li class="is-active"><a href="/previous">Previous</a></li>
    </ul>
  </div>
  <div class="columns">
    <div class="column is-5">
      <article>
        {{ .Content }}
      </article>
    </div>
    <div class="column is-7">
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/6e30a058-9f5d-4f18-e6e5-00a8910d6900/fit=cover,quality=60" alt="Bea Bonafini, Whispsilk">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/4a48cfe8-948b-43f4-ae19-eeadb2db0f00/fit=cover,quality=60" alt="Bea Bionafini, exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/c0ee3d1b-a2d6-4fd0-94d7-dc551279ff00/fit=cover,quality=60" alt="Bea Bonafini, Plinian Fire">
              </figure>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/13ddd673-fcf0-43f2-c9d4-cfe3118fc300/fit=cover,quality=60" alt="Bea Bonafini, Exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/d60177d9-ecce-466d-51d2-711c9bb5cc00/fit=crop,quality=60" alt="Bea Bonafini, Whispsilk">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/383ee824-12a7-4fec-d338-d23c224ecd00/fit=cover,quality=60" alt="Bea Bonafini, Silent Strengths">
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/e97c1b31-e92a-455d-4694-74cdea154000/fit=cover,quality=60" alt="Bea Bonafini, Exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/c0aa1916-2f69-4d17-d41c-0e7a57c3b700/fit=cover,quality=60" alt="Bea Bonafini, Plinian Fire">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/c86d3252-0055-43e2-a000-e5cb6dabad00/fit=cover,quality=60" alt="Bea Bonafini, Fce of the Deep I (detail)">
              </figure>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/c3c473fe-849b-46f7-7d8e-8649022dba00/fit=cover,quality=60" alt="Bea Bonafini, Fce of the Deep I (detail)">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/c1c2e9e3-3482-4504-3cd0-6f339be43600/fit=crop,quality=60" alt="Bea Bonafini, Exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/a6ac5203-9d36-47fd-b19a-101c8c1fea00/fit=cover,quality=60" alt="Bea Bonafini, Exhibition view">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
