{{ define "main" }}
<section class="container is-fluid">
  <div class="tabs">
    <ul>
      <li class="is-active"><a>Current</a></li>
      <li><a href="/forthcoming">Forthcoming</a></li>
    </ul>
  </div>
  <div class="columns">
    <div class="column is-5">
      <article>
        <div class="has-text-centered">
          <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/c32f88c7-0a6c-4d2d-d589-c51229878d00/logo"/>
          <p>In collaboration with:</p>
          <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/4951e8a8-f08d-4e3b-bd86-aa1e7910b200/logo" alt="Nosbaum Reding Gallery">
        </div>
        {{ .Content }}
      </article>
    </div>
    <div class="column is-7">
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/492d98db-9966-42e4-c3e8-dff7c0a76800/fit=crop,quality=60" alt="Life is a Dream, Exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/fa3b145c-0a8e-4e82-74c9-9ab5e2151300/fit=cover,quality=60" alt="Life is a Dream, Exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/068e37c2-6650-491a-4e7a-f6ac35b63b00/fit=cover,quality=60" alt="Life is a Dream, Exhibition view">
              </figure>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/6b444c54-a7f6-4ff3-f0bb-b728ae683b00/fit=cover,quality=60" alt="Life is a Dream, Exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/a86da5bc-446f-4706-c74d-d55334664d00/fit=crop,quality=60" alt="Life is a Dream, Exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/58d35117-862c-4840-aa1f-72f8534e3a00/fit=cover,quality=60" alt="Life is a Dream, Exhibition view">
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/701c6cc1-a255-4158-ac87-4f97faccd300/fit=cover,quality=60" alt="Life is a Dream, Exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/a227176e-6aa5-4ffd-e43c-70f63ce2a400/fit=cover,quality=60" alt="Life is a Dream, Exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/eed8a244-8c5e-40a3-1ac3-821bf1759d00/fit=cover,quality=60" alt="Life is a Dream, Exhibition view">
              </figure>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/7bf2c0f3-2fc4-4cd0-13d4-d2952b88a100/fit=cover,quality=60" alt="Life is a Dream, Exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/a646e3b8-5ba6-4128-21b7-900aa7c1d400/fit=crop,quality=60" alt="Life is a Dream, Exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/e13f12c4-4341-432a-ed13-2f8c5bac1b00/fit=cover,quality=60" alt="Life is a Dream, Exhibition view">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
