{{ define "main" }}
<section class="container is-fluid">
  <div class="tabs">
    <ul>
      <li class="is-active"><a>Current</a></li>
      <li><a href="/forthcoming">Forthcoming</a></li>
    </ul>
  </div>
  <div class="columns">
    <div class="column is-5">
      <article>
        {{ .Content }}
      </article>
    </div>
    <div class="column is-7">
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/e854a930-f145-4147-8daa-f94fa30ae400/fit=cover,quality=60" alt="Bea Bonafini, Whispsilk">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/7afd521f-1b80-447b-644d-08a1a8556100/fit=cover,quality=60" alt="Bea Bionafini, exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/2eb03ba0-fcc4-4b64-5e50-ac6f1d66a700/fit=cover,quality=60" alt="Bea Bonafini, Plinian Fire">
              </figure>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/13ddd673-fcf0-43f2-c9d4-cfe3118fc300/fit=cover,quality=60" alt="Bea Bonafini, Exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/d60177d9-ecce-466d-51d2-711c9bb5cc00/fit=crop,quality=60" alt="Bea Bonafini, Whispsilk">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/383ee824-12a7-4fec-d338-d23c224ecd00/fit=cover,quality=60" alt="Bea Bonafini, Silent Strengths">
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/e97c1b31-e92a-455d-4694-74cdea154000/fit=cover,quality=60" alt="Bea Bonafini, Exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/bbb35e92-46ef-4096-3aa6-0eae40377300/fit=cover,quality=60" alt="Bea Bonafini, Plinian Fire">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/c86d3252-0055-43e2-a000-e5cb6dabad00/fit=cover,quality=60" alt="Bea Bonafini, Fce of the Deep I (detail)">
              </figure>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/c3c473fe-849b-46f7-7d8e-8649022dba00/fit=cover,quality=60" alt="Bea Bonafini, Fce of the Deep I (detail)">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/c1c2e9e3-3482-4504-3cd0-6f339be43600/fit=crop,quality=60" alt="Bea Bonafini, Exhibition view">
              </figure>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/a6ac5203-9d36-47fd-b19a-101c8c1fea00/fit=cover,quality=60" alt="Bea Bonafini, Exhibition view">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
