{{ define "main" }}
<figure>
  <img width="100%" srcset="
     https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/a7132210-e087-40bb-6fe8-7a11986c4e00/w=320   320w,
     https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/a7132210-e087-40bb-6fe8-7a11986c4e00/w=640   640w,
     https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/a7132210-e087-40bb-6fe8-7a11986c4e00/w=960   960w,
     https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/a7132210-e087-40bb-6fe8-7a11986c4e00/w=1280 1280w,
     https://imagedelivery.net/pUQ8MV0SyIpam560ZqHrQA/a7132210-e087-40bb-6fe8-7a11986c4e00/w=1920 1920w

    " src="https://www.silverejarrosson.com/cdn-cgi/imagedelivery/pUQ8MV0SyIpam560ZqHrQA/a7132210-e087-40bb-6fe8-7a11986c4e00/w=1280" alt="Wilhelmina von Blumenthal at Hydra, 2023" />
  <figcaption class="caption subtitle is-size-7 has-text-grey-light is-pulled-right pr-1 is-hidden-mobile">Wilhelmina von Blumenthal at Hydra, 2023.</figcaption>
</figure>
<section class="container is-fluid">
  <div class="tabs">
    <ul>
      <li><a href="/about">The Gallery</a></li>
      <li class="is-active"><a>Wilhelmina von Blumenthal</a></li>
    </ul>
  </div>
  <article>
        <div class="has-text-weight-semibold">{{ .Params.Description }}</div>
        {{ .Content }}
  </article>
</section>
{{ end }}
